$size: 200px;
$indentation-s: 40px;

/* Colors */
$primary-color: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
$secondary-color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(220,29,253,1) 50%, rgba(252,176,69,1) 100%);
$tertiary-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);